prefix          = "irisml01"
location        = "eastus"
container_image = "iris-api:1.0.0"
api_key         = "change-this-key"
subscription_id = "your-azure-subscription-id"
deploy_aci      = false  # Set to true after pushing image to ACR and model to File Share
tags = {
  project = "iris-ml"
  owner   = "your-name"
}
