# ============================================
# ArgoCD Kustomization
# Instala ArgoCD + Image Updater
# ============================================
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  # Namespace primeiro
  - namespace.yaml

  # Instalacao oficial do ArgoCD (versao estavel)
  # Fonte: https://github.com/argoproj/argo-cd/releases
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.9.3/manifests/install.yaml

  # Instalacao do Image Updater
  # Fonte: https://github.com/argoproj-labs/argocd-image-updater/releases
  - https://raw.githubusercontent.com/argoproj-labs/argocd-image-updater/v0.12.2/manifests/install.yaml

  # Projeto e aplicacoes (nao tem conflito)
  - projects/iris-project.yaml
  - applications/iris-dev.yaml
  # - applications/iris-prod.yaml  # Descomentar quando prod estiver pronto

patches:
  # Patch para expor ArgoCD via LoadBalancer (dev only)
  - patch: |-
      - op: replace
        path: /spec/type
        value: LoadBalancer
    target:
      kind: Service
      name: argocd-server
