apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: api-gateway
  namespace: iris-ml
  labels:
    app: api-gateway
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: api-gateway
