apiVersion: v1
kind: Service
metadata:
  name: inference-service
  namespace: iris-ml
  labels:
    app: inference-service
    app.kubernetes.io/name: inference-service
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      protocol: TCP
  selector:
    app: inference-service
